.hubitat/metadata.json
ShellyDriverLibrary
ShellyDriverLibrary/install.txt
ShellyDriverLibrary/ShellyUSA_Driver_Library.zip
ShellyDriverLibrary/ShellyUSA.ShellyUSA_Driver_Library.groovy
ShellyDriverLibrary/update.txt